@using AlzaRestApiApplication.Models

@model IEnumerable<AlzaRestApiApplication.Models.MemberViewModel>

@{
    ViewBag.Title = "Shopping Items";
    var page = (PageViewModel)ViewData["Message"];
}


@using (Html.BeginForm("Index", "Home"))
{


    <h2>Shopping Items</h2>

    if (Html.ValidationSummary() != null)
    {
        <div class="alert alert-danger" role="alert">
            @Html.ValidationSummary();
        </div>
    }

    <script type="text/javascript">
        $(function () {
            $('.lazy').lazy();
        });
    </script>


    <div class="container homecont" id="lazyScrollLoading_ImageMode">

        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <div class="col-xs-12 col-md-6">
                    <!-- First product box start here-->
                    <div class="prod-info-main prod-wrap clearfix">
                        <div class="row">
                            <div class="col-md-5 col-sm-12 col-xs-12">
                                <div class="product-image">
                                    <img data-src="/Images/shoppingItems/@item.ImgUri" alt="@item.Name" class="img-responsive lazy" />
                                </div>
                            </div>
                            <div class="col-md-7 col-sm-12 col-xs-12">
                                <div class="product-deatil">
                                    <h5 class="name">
                                        @Html.ActionLink(item.Name, "Detail", new { id = item.Id })
                                    </h5>
                                    <p class="price-container">
                                        <span>Price: @Html.DisplayFor(modelItem => item.Price) €</span>
                                    </p>
                                    <span class="tag1"></span>
                                </div>
                                <div class="product-info smart-form">
                                    <div class="row">
                                        <div class="col-md-12">
                                            @Html.ActionLink("Detail", "Detail", new { id = item.Id }, new { @class = "btn btn-danger" })
                                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-info" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end product -->
                </div>
            }
        }



    </div>




    if (page != null)
    {
        <span>@Html.ActionLink("< Prev page", "Index", new { id = page.PageNumberPrev }) </span>
        <span>
            |
        </span>
        <span>@Html.ActionLink("All Items", "Index", new { id = 0 }) </span>
        <span>
            |
        </span>
        <span>@Html.ActionLink("Next page >", "Index", new { id = page.PageNumberNext }) </span>



    }


}
